{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nimusoft Login page</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'cloud.jpg' %}">
        <link rel="stylesheet" href="{% static 'tech.jpg' %}">
        <link rel="stylesheet" href="{% static 'technology.jpg' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
       
       
    </head>
     
 <body>
  <div class="row clearfix">
    <div class="">
      <form method="post" action="">
        {% csrf_token %}
    <section class="login-block">
          <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login form for Nimusoft Employee</h2>
                    <form class="login-form">
              <div class="form-group">

                <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                <input type="text" name ="name" class="form-control" placeholder="enter your email">
            
              </div>

              <div class="form-group">
                 <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                 <input type="password" name="password" class="form-control" placeholder="enter strong password">
              </div>
          
          
              <div class="form-check">
                  <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  <small>Remember Me</small>
                  </label>
            <input class="btn btn-sm btn-success" type="submit" value="Login" style ="background-color: rgb(21, 131, 6) !important;  border-radius:10px;" >
          </div>
          
        </form>

        <div class="copy-text">Created with <i class= "fa fa-heart"></i> by proma</div>
        </div>
      
        <div class="col-md-7 banner-sec">
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">


        
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        
        
        
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="\static\technology.jpg"  alt="1st slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                  <h2>This is Nimusoft Tech Ltd</h2>
                  
              </div>	
            </div>
          </div>

          <div class="carousel-item">
            <img class="d-block img-fluid" src="\static\tech.jpg"  alt="1st slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                  <h2>This is Nimusoft Tech Ltd</h2>
                  
              </div>	
            </div>
          </div>

          <div class="carousel-item">
            <img class="d-block img-fluid" src="\static\cloud.jpg"  alt="1st slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="banner-text">
                  <h2>This is Nimusoft Tech Ltd</h2>
                  
              </div>	
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
  
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        
      </div>
  
  
       </div>
       
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
        
</div>
</div>
</div>
</section>
</body>
</html>

       


        
            
